{% extends 'base/base.html' %}

{% block content %}
{% include 'base/sidebar.html' %}

{% block sidebar_content %}
<div class="row">
    <div class="col-md-8">
        <div class="ratio ratio-16x9 shadow-sm mb-3">
            <iframe src="{{ lesson.video_url }}" allowfullscreen></iframe>
        </div>

        <h4 class="fw-bold">{{ lesson.title }}</h4>
        <p class="text-muted">{{ lesson.description }}</p>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-header fw-bold">
                Course Content
            </div>

            <ul class="list-group list-group-flush">
                {% for l in lessons %}
                <li class="list-group-item">
                    ▶ {{ l.title }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% endblock %}
